<footer class="footer">
    <small style="margin-bottom: 20px; display: inline-block">
        © @(DateTime.Now.Year) Original Sidebar Pro Template Created by 
        <a target="_blank" href="https://azouaoui.netlify.com"> Mohamed Azouaoui </a>
        <br />
        <span>Translated to <span style="color: red; font-weight:700">@@Blazor</span> by  <a target="_blank" href="https://github.com/Kuprich">Ilya Kupriyanov</a> </span>
    </small>
    <br />
</footer>