@inherits LayoutComponentBase
@inject IJSRuntime JS

<div class="layout has-sidebar fixed-sidebar fixed-header">

    <Sidebar IsCollapsed = "@isCollapsed" IsToggled="@isToggled" />

    <div @onclick="MouseClickedInOverlay" id="overlay" class="overlay"></div>
    <div class="layout">

        <main class="content">

            <a @onclick="BtnToggleClicked" id="btn-toggle" href="#" class="sidebar-toggler break-point-sm">
                <i class="ri-menu-line ri-xl"></i>
            </a>

            @Body

            <Footer />

        </main>

        <div class="overlay"></div>

    </div>
</div>

@code {

    private bool isCollapsed = false;
    private bool isToggled = false;

    public void BtnToggleClicked()
    {
        isToggled = !isToggled;
    }

    public void MouseClickedInOverlay()
    {
        if (isToggled)
            isToggled = false;
    }

}
