<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css'>
    <link rel='stylesheet' href='https://unpkg.com/css-pro-layout@1.1.0/dist/css/css-pro-layout.css'>
    <link rel='stylesheet'
          href='https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&amp;display=swap'>
    <link rel="stylesheet" href="css/style.css" />
    @*     <link rel="stylesheet" href="BlazorProTemplate.styles.css" /> *@
    <link rel="icon" type="image/png" href="favicon.png" />
    <PageTitle>Blazor Pro Sidebar Template</PageTitle>
    <HeadOutlet />
</head>

<body>
    <Routes @rendermode="InteractiveServer"/>
    <script src="_framework/blazor.web.js"></script>
     <script src="https://unpkg.com/@@popperjs/core@2"></script>
@*     <script src="js/script.js"></script> *@
</body>

</html>
