@page "/"

<div>
    <h1 style="margin-bottom: 0">Pro Sidebar</h1>
    <span style="display: inline-block">
        Responsive layout with advanced sidebar menu built with SCSS and vanilla Javascript
    </span>
    <br />
    <span>
        Full Code and documentation available on
        <a href="https://github.com/azouaoui-med/pro-sidebar-template" target="_blank">Github</a>
    </span>
    <div style="margin-top: 10px">
        <a href="https://github.com/azouaoui-med/pro-sidebar-template" target="_blank">
            <img alt="GitHub stars"
                 src="https://img.shields.io/github/stars/azouaoui-med/pro-sidebar-template?style=social" />
        </a>
        <a href="https://github.com/azouaoui-med/pro-sidebar-template" target="_blank">
            <img alt="GitHub forks"
                 src="https://img.shields.io/github/forks/azouaoui-med/pro-sidebar-template?style=social" />
        </a>
    </div>
</div>
<div>
    <h2>Features</h2>
    <ul>
        <li>Fully responsive</li>
        <li>Collapsable sidebar</li>
        <li>Multi level menu</li>
        <li>RTL support</li>
        <li>Customizable</li>
    </ul>
</div>
<div>
    <h2>Resources</h2>
    <ul>
        <li>
            <a target="_blank" href="https://github.com/azouaoui-med/css-pro-layout">
                Css Pro Layout
            </a>
        </li>
        <li>
            <a target="_blank" href="https://github.com/popperjs/popper-core"> Popper Core</a>
        </li>
        <li>
            <a target="_blank" href="https://remixicon.com/"> Remix Icons</a>
        </li>
    </ul>
</div>

@code {

}
