@page "/"

<div>
    <h1 style="margin-bottom: 0">Balzor Pro Sidebar</h1>
    <p>The basis of <a href="https://github.com/Kuprich/BlazorProTemplate" target="_blank" style="text-decoration:underline">This template</a> is the following project made using the React.Therefore, I am forced to leave a link to the author of the original project.</p>
    <p>Original project: <a href="https://github.com/azouaoui-med/react-pro-sidebar" target="_blank">Click here</a></p>
    <span style="display: inline-block">
        Responsive layout with advanced sidebar menu built with CSS and Blazor.
        The project uses a library of icons named as <a href="https://remixicon.com/">Remix</a>
    </span>
    <br />
</div>
<div>
    <h2>Features</h2>
    <ul>
        <li>Fully responsive</li>
        <li>Collapsable sidebar</li>
        <li>Multi level menu</li>
        <li>RTL support</li>
        <li>Customizable</li>
    </ul>
</div>
<div>
    <h2>Resources</h2>
    <ul>
        <li>
            <a target="_blank" href="https://github.com/azouaoui-med/css-pro-layout">
                Css Pro Layout
            </a>
        </li>
        <li>
            <a target="_blank" href="https://github.com/popperjs/popper-core"> Popper Core</a>
        </li>
        <li>
            <a target="_blank" href="https://remixicon.com/"> Remix Icons</a>
        </li>
    </ul>
</div>

@code {

}
